/* ==== 
 --------- (4.03) discount styles start ---------
 ==== */

.discount-item {
  padding: clamp(1.5rem, -2.99625rem + 6vw, 3rem);

  &__content {
    max-width: 320px;
  }
}

.discount-three-item {
  padding: clamp(2rem, -5.9104rem + 16.48vw, 8.5rem) clamp(1.5rem, -0.9336rem + 5.07vw, 3.5rem);
}

.copied i::before {
  content: "\E1CC" !important;
}

/* ==== 
 --------- (4.03) discount styles end ---------
 ==== */
