/* ==== 
 --------- (4.03) top brands styles start ---------
 ==== */

.top-brand {
  &__item {
    max-height: 84px;
    max-width: 160px;
    width: 100%;
    aspect-ratio: 1;
  }
}

/* ==== 
 --------- (4.03) top brands styles end ---------
 ==== */
