/* ==== 
 --------- (4.03) feature styles start ---------
 ==== */

.feature {
  margin-top: 80px;

  .arrow-center {
    &:hover {
      .slick-arrow {
        visibility: visible;
        opacity: 1;
        margin-left: -28px;

        &.slick-next {
          margin-right: -20px;
        }
      }
    }

    .slick-arrow {
      transform: translateY(0);
      margin-left: -40px;
      border: 1px solid var(--gray-100);
      visibility: hidden;
      opacity: 0;
      top: 54px;

      &.slick-next {
        margin-right: -30px;
      }
    }
  }

  &.feature-three .arrow-center .slick-arrow {
    top: 110px;
  }
}

.feature-item {
  &-wrapper {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(132px, 1fr));
    gap: 16px;

    .feature-item {
      &:nth-child(10n + 1) {
        .feature-item__thumb {
          background: #e8f9e9;
        }
      }

      &:nth-child(10n + 2) {
        .feature-item__thumb {
          background: #fceded;
        }
      }

      &:nth-child(10n + 3) {
        .feature-item__thumb {
          background: #f6ebf3;
        }
      }

      &:nth-child(10n + 4) {
        .feature-item__thumb {
          background: #fcf2e7;
        }
      }

      &:nth-child(10n + 5) {
        .feature-item__thumb {
          background: #f5fbe3;
        }
      }

      &:nth-child(10n + 6) {
        .feature-item__thumb {
          background: #e3fbe9;
        }
      }

      &:nth-child(10n + 7) {
        .feature-item__thumb {
          background: #e9e3fb;
        }
      }

      &:nth-child(10n + 8) {
        .feature-item__thumb {
          background: #ecf8f2;
        }
      }

      &:nth-child(10n + 9) {
        .feature-item__thumb {
          background: #f8f5e5;
        }
      }

      &:nth-child(10n + 10) {
        .feature-item__thumb {
          background: #f0f8e5;
        }
      }

      &:nth-child(10n + 11) {
        .feature-item__thumb {
          background: #ddd;
        }
      }
    }
  }

  &__thumb {
    max-width: 153px;
    max-height: 153px;
    background-color: var(--main-50);
    aspect-ratio: 1;
    margin: 0 auto;
    overflow: hidden;

    img {
      transition: 0.2s linear;
    }
  }

  &:hover {
    .feature-item__thumb img {
      transform: scale(1.2);
    }
  }
}

.featured-products,
.popular-products {
  .product-card {
    flex-direction: row;
    align-items: unset;
  }
}

.popular-products {
  .product-card__thumb {
    width: 120px !important;
  }
}

/* ==== 
 --------- (4.03) feature styles end ---------
 ==== */
